@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.875rem;
}

* {
  box-sizing: border-box;
}
